html,body {
    margin: 0;
    padding: 0;
    height: 100%; /* Establecer la altura del cuerpo igual a la ventana */
    background-image: url('../img/fondo.jpg'); /* Ruta o URL de tu imagen de fondo */
    background-size: contain; /* Ajustar el tamaño para mantener la proporción */
    background-repeat: no-repeat; /* Evitar repetir la imagen de fondo */
    background-position: left center; /* Centrar la imagen de fondo */
    background-color: #000000;
    font-family: 'Cormorant Garamond', serif;
}

img {
    opacity: 0; /* Inicialmente establece la opacidad en 0 */
    transform: translateY(-50px); /* Desplaza la imagen hacia arriba 50px (o el valor que prefieras) */
    transition: opacity 5s ease, transform 5s ease; /* Aplica transiciones de opacidad y transformación */
}

body.show-image img {
    opacity: 1; /* Cuando la clase 'show-image' está presente, establece la opacidad en 1 */
    transform: translateY(0); /* Vuelve a la posición original */
}

.menu {
    /*flex: 0 0 auto;*/
    background-image:  url('../img/menu2.jpg');; /* Fondo rojo granate */
    background-size: cover; /* Ajustar el tamaño para cubrir completamente el contenedor */
    background-position: center center;
    width: 500px; /* Ancho del div a la derecha */
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    flex-direction: column;
}

.login {
    width: 100%; /* O el ancho deseado */
    /*background-color: #8a1200; /* Color de fondo de la barra de login */
    height: 6%;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    display: flex;
    justify-content: flex-end;
}

.content {
    text-align: center;
    margin: auto;
}

button {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: none;
}

.specs {
    margin: 1em 0;
    padding: 8vh 0;
    border-top: 0.5em solid #888888; /* Reemplaza var(--gris) con el valor de color gris deseado */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: #ffffff; /* Reemplaza var(--blanco) con el valor de color blanco deseado */
  }
  
  .specs.inverso .specs__center {
    flex-direction: row-reverse;
  }
  
  @media screen and (max-width: 700px) {
    .specs.inverso .specs__center {
        flex-direction: column;
    }
  }
  
  .specs:nth-child(4) {
    border-bottom: 0.5em solid #888888; /* Reemplaza var(--gris) con el valor de color gris deseado */
  }
  
  .specs--first {
    margin-top: 740px;
  }
  
  .specs__center {
    width: 92%;
    max-width: 730em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  @media screen and (max-width: 700px) {
    .specs__center {
        flex-direction: column;
    }
  }
  
  .specs__col {
    width: calc(100% / 2 - 1em);
    position: relative;
  }
  
  @media screen and (max-width: 700px) {
    .specs__col {
        width: 90%;
        text-align: center;
    }
  }
  
  .specs__h4 {
    margin: 0 0 0.5em;
    font-size: 3.2em;
    font-weight: 600;
    line-height: 1em;
  }
  
  @media screen and (max-width: 700px) {
    .specs__h4 {
        font-size: 1.6em;
    }
  }
  
  .specs__p {
    font-size: 1.6em;
  }
  
  @media screen and (max-width: 700px) {
    .specs__p {
        font-size: 1.3em;
    }
  }
  
  .specs__overlay {
    position: relative;
    z-index: 2;
    transform: scale(0.6);
  
  }